:root {
  /* Primary colors */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(210, 60%, 98%);
}

.App {
  height: auto;
  max-width: 60%;
  margin: 10% auto;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  font-size: 16px;
}

@media (max-width: 768px) {
  .App {
    max-width: 90%;
    padding: 1rem;
    font-size: 0.5rem;
  }
}
